/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
  .grid-item {
    width: 33.33%;
  }

  .hnc-product {
    height: 400px;
  }

  .hnc-product__btn-group {
    justify-content: center;
  }

  .hnc-title--main {
    font-size: 3rem;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 768px) {
  .hnc-row-reverse {
    flex-direction: row-reverse !important;
  }

  .hnc-highlight-products__wrapper {
    flex-direction: row;
  }

  /* Home Blogs */
  .hnc-blog-title__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hnc-blog__cta-wrapper a {
    padding: 10px 25px;
  }
  /* EOF Home Blogs */
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1024px) {
  .hnc-content--compact {
    max-width: 65%;
  }

  .hnc-icon-wrapper {
    gap: 80px;
  }

  .hnc-icon__inner {
    min-width: 90px;
  }

  .hnc-icon__inner::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    right: -50%;
    top: 0;
    background: rgb(2, 3, 3);
    background: linear-gradient(
      180deg,
      rgba(2, 3, 3, 0.196516106442577) 0%,
      rgba(2, 3, 3, 0.7455357142857143) 50%,
      rgba(2, 3, 3, 0.2049194677871149) 100%
    );
  }

  .hnc-icon__inner:last-child:after {
    display: none;
  }

  .hnc-highlight-product__imgs img {
    max-width: 400px;
    width: 100%;
  }

  .hnc-image {
    width: unset;
  }

  .hnc-highlight-products {
    margin-top: 6rem;
  }

  .hnc-highlight-product__imgs img {
    border-radius: 0;
  }

  .hnc-highlight-product__details {
    border-radius: 0;
    padding: 30px;
  }

  .hnc-highlight-product__title {
    margin: 0 0 15px;
  }

  .grid-item {
    width: 33%;
  }

  /* FOOTER */
  .hnc-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .hnc-footer__wrapper > div {
    display: flex;
    flex: 1 0;
  }

  .hnc-footer__socials {
    margin: 0;
  }

  .hnc-footer__socials ul {
    justify-content: center;
    width: 100%;
  }

  .hnc-footer__copyright {
    justify-content: flex-end;
  }

  .hnc-footer__copyright small {
    font-size: 0.7rem;
  }

  .hnc-footer__socials ul li a:hover {
    color: var(--text-primary);
  }
  /* EOF FOOTER */
}

@media screen and (min-width: 1200px) {
  .hnc-highlight-products__wrapper {
    min-height: 500px;
  }

  .hnc-highlight-products__img {
    width: 40%;
  }

  .hnc-highlight-products__details {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
  }

  .grid-item {
    width: 25%;
  }

  /* Home Product */
  .hnc-product__inner::before {
    background-color: unset;
  }

  .hnc-product:hover .hnc-product__inner::before {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .hnc-product__content {
    opacity: 0;
    transform: translateY(10px);
  }

  .hnc-product:hover .hnc-product__content {
    opacity: 1;
    transform: translateY(0);
  }
  /* EOF Home Product */

  /* Home Blogs */
  .hnc-blog__article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: var(--transition-default);
  }

  .hnc-blog__article:hover::before {
    background: rgba(27, 30, 32, 0.5);
  }

  .hnc-blog__info {
    transform: translateY(70px);
  }

  .hnc-blog__content {
    opacity: 0;
  }

  .hnc-blog__article:hover .hnc-blog__info {
    transform: translateY(0);
  }

  .hnc-blog__article:hover .hnc-blog__content {
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
  }

  .swiper-button-prev {
    transform: translateX(40px);
  }

  .swiper-button-next {
    transform: translateX(-40px);
  }

  .hnc-blog__container:hover .swiper-button-prev,
  .hnc-blog__container:hover .swiper-button-next {
    opacity: 1;
    transform: translateX(0);
  }
  /* EOF Home Blogs */
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .hnc-highlight-product__details {
    padding: 0 70px;
  }
}
