/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
  .grid-item {
    width: 50%;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 768px) {
  .hnc-row-reverse {
    flex-direction: row-reverse !important;
  }

  .hnc-highlight-products__wrapper {
    flex-direction: row;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1024px) {
  .hnc-content--compact {
    max-width: 65%;
  }

  .hnc-icon-wrapper {
    gap: 80px;
  }

  .hnc-icon__inner {
    min-width: 90px;
  }

  .hnc-icon__inner::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    right: -50%;
    top: 0;
    background: rgb(2, 3, 3);
    background: linear-gradient(
      180deg,
      rgba(2, 3, 3, 0.196516106442577) 0%,
      rgba(2, 3, 3, 0.7455357142857143) 50%,
      rgba(2, 3, 3, 0.2049194677871149) 100%
    );
  }

  .hnc-icon__inner:last-child:after {
    display: none;
  }

  .hnc-highlight-product__imgs img {
    max-width: 400px;
    width: 100%;
  }

  .hnc-image {
    width: unset;
  }

  .hnc-highlight-products {
    margin-top: 6rem;
  }

  .hnc-highlight-product__imgs img {
    border-radius: 0;
  }

  .hnc-highlight-product__details {
    border-radius: 0;
    padding: 30px;
  }

  .hnc-highlight-product__title {
    margin: 0 0 15px;
  }

  .grid-item {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .hnc-highlight-products__wrapper {
    min-height: 500px;
  }

  .hnc-highlight-products__img {
    width: 40%;
  }

  .hnc-highlight-products__details {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
  }

  .grid-item {
    width: 25%;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .hnc-highlight-product__details {
    padding: 0 70px;
  }
}
