@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

/* VARIABLE */
:root {
  --bg-dark: #1B1E20;
  --bg-dark--secondary: #131414;
  --bg-white: #ffffff;
  --bg-primary: #C2671C;

  --text-white: #ffffff;
  --text-primary: #C2671C;

  --transition-default: .2s ease-in-out;

  --text-heading: 'Sintony', sans-serif;
  --text-body: 'Poppins', sans-serif;
  --text-custom: 'Smooch', cursive;

  --hnc-box-shadow: 0px 3px 20px 0px rgba(2,3,3,0.5);
}
/* EOF VARIABLE */

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-body);
  position: relative;
  transition: var(--transition-default);
  right: 0;
  background-color: var(--bg-dark);
  color: var(--text-white);
}

body.active {
  right: 300px;
}
body.active main {
  filter: blur(1px);
}

body.active main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0,0,0,0.6);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--text-heading);
  text-transform: uppercase;
}

section {
  position: relative;
}

p {
  font-weight: 300;
}
/* EOF GENERAL */

/* HIKE AND CAMP CUSTOM CLASS */
.hnc-btn {
  border-radius: 0;
  padding: 10px 50px;
  position: relative;
}

.hnc-btn--primary {
  color: var(--text-primary);
  border-color: var(--bg-primary);
}

.hnc-btn--primary:hover {
  color: var(--text-white);
  border-color: var(--bg-primary);
}

.hnc-btn--secondary {
  color: var(--text-white);
  border-color: var(--bg-white);
}

.hnc-btn--secondary:hover {
  color: var(--text-primary);
  border-color: var(--bg-white);
}

.hnc-btn--secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--bg-white);
  transition: width var(--transition-default);
}

.hnc-btn--secondary:hover::before {
  width: 100%;
}

.hnc-small-text {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg-primary);
  font-size: .8rem;
  letter-spacing: 1.3px;
}

.hnc-box-shadow {
  box-shadow: var(--hnc-box-shadow);
}

.hnc-title {
  position: relative;
  display: inline-block;
}

.hnc-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background: rgb(194,103,28);
  background: linear-gradient(90deg, rgba(194,103,28,1) 0%, rgba(194,103,28,0) 100%);
}

.hnc-title--main {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5em;
  text-transform: uppercase;
}

.hnc-title--main span {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-primary);
  position: relative;
  top: -25px;
  letter-spacing: 4px;
  font-family: var(--text-custom);
}

.hnc-social-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.hnc-social-links li a {
  color: var(--text-white);
  font-size: 1.2rem;
  transition: var(--transition-default);
}

.hnc-social-links li a:hover {
  color: var(--text-primary);
}

.hnc-section-padding {
  padding: 150px 0 0;
}

.hnc-content {
  position: relative;
}

.hnc-content--compact {
  width: 100%;
  margin: 0 auto;
}

.hnc-icon-wrapper {
  gap: 10px;
}

.hnc-icon__inner {
  text-align: center;
  font-size: .8rem;
  position: relative;
  font-weight: 300;
}

.hnc-image {
  width: 100%;
}

.hnc-row-reverse {
  flex-direction: column;
}
/* EOF HIKE AND CAMP CUSTOM CLASS */

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  z-index: 9999;
  transition: var(--transition-default);
  transform: translateX(0);
  background: rgb(27,30,32);
  background: linear-gradient(180deg, rgba(27,30,32,1) 0%, rgba(27,30,32,0) 100%);
  backdrop-filter: blur(1px) brightness(1);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--text-custom);
  text-decoration: none;
  color: var(--text-white);
  font-size: 2rem;
}

.hamburger {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  transition: var(--transition-default);
}

.hamburger .menu-toggle {
  position: relative;
}

.hamburger .menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  -webkit-touch-callout: none;
  top: -4px;
  left: -4px;
  z-index: 2;
}

.menu-toggle .line {
  width: 33px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--text-white);
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
          background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
          opacity 0.3s ease;
  margin-bottom: 5px;
  z-index: 1;
  
}

.menu-toggle .line:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle .line:last-child {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ .line {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ .line:last-child {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ .line:nth-last-child(2){
  transform: rotate(-45deg) translate(-7px, 0px);
}

body.active header {
  transform: translateX(-300px );
}

/* EOF HEADER */

/* MENU SECTION */
#menu-section {
  width: 300px;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: 50px 0;
  transition: var(--transition-default);
  background: #0e0e0e;
  transform: translateX(300px);
}

#menu-section.active {
  transform: translateX(0);
}

ul.menu-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

ul.menu-wrapper li {
  margin-bottom: 1em;
  text-align: center;
}

ul.menu-wrapper li a {
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  color: #ffffff;
  transition: var(--transition-default);
  display: block;
  font-weight: 500;
}

ul.menu-wrapper li a:hover {
  color: var(--text-primary);
  background-color: #1a1a1a;
}

#menu-section .social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#menu-section .social-list > div {
  font-weight: 500;
  margin-bottom: .5rem;
}

#menu-section .social-list > li {
  display: inline-block;
}

#menu-section .social-list > li > a {
  color: #ffffff;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 5px;
  transition: var(--transition-default);
}

#menu-section .social-list > li > a:hover {
color: var(--text-primary);
}
/* EOF MENU SECTION */

/* MAIN */
main {
  position: relative;
  transition: var(--transition-default);
}
/* EOF MAIN */

/* BANNER */
#banner {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/bg-banner-03.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
}

#banner::before {
  content: "";
  position: absolute;
  background: rgb(27,30,32);
  background: linear-gradient(0deg, rgba(27,30,32,1) 0%, rgba(27,30,32,0.196516106442577) 70%, rgba(27,30,32,0) 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#banner .content-wrapper {
  position: relative;
}

#banner .content-wrapper::before {
  content: "";
  width: 2px;
  height: 80px;
  position: absolute;
  top: -125px;
  left: 50%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  border-radius: 20px;
}

#banner .content-wrapper a {
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 400;
}

#banner .content-wrapper a:hover {
  color: var(--text-white);
}

#banner .content-wrapper a span {
  position: relative;
}

#banner .content-wrapper a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-primary);
  transition: width var(--transition-default);
}

#banner .content-wrapper a:hover:before {
  width: 100%;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 30px;
  height: 50px;
  border: 2px solid #ffffff;
  margin: 0 auto;
  display: block;
  transform: translateX(-50%);
  border-radius: 20px;
  cursor: pointer;
}

.scroll-down::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 5px;
  left: 40%;
  z-index: 9;
  position: absolute;
  transform: translateX(-50%);
  animation: scrollDownAnimation 2s infinite;
}

@-moz-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
/* EOF BANNER */

/* Section About */
.hnc-btn--readmore > svg {
  transition: var(--transition-default);
  transform: translateX(5px);
}

.hnc-btn--readmore:hover > svg {
  transform: translateX(10px);
}
/* EOF Section About */

/* Section Offers */
.hnc-highlight-products { 
  margin-top: 3rem;
}

.hnc-highlight-products__wrapper {
  background-color: var(--bg-dark--secondary);
  display: flex;
  flex-direction: column;
  box-shadow: var(--hnc-box-shadow);
}

.hnc-highlight-products__img {
  width: 100%;
  min-height: 400px;
  background-color: #eeeeee;
  display: block;
  background-position: center !important;
  background-size: cover !important;
}

.hnc-highlight-products__details {
  width: 100%;
  padding: 20px;
}

.hnc-highlight-products__desc p,
.hnc-highlight-products__feature li {
  font-weight: 300;
}

.hnc-highlight-products__feature ul {
  padding: 0;
  margin: 0;
  padding-left: 1em;
  margin-bottom: 1em;
}

.hnc-highlight-products__feature ul li::marker {
  content: "\f058";
  font-family: 'Font Awesome 6 Free';
  color: var(--text-primary);
}

.hnc-highlight-products__feature li span {
  display: inline-block;
  margin-left: 10px;
}

.hnc-highlight-products__price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.hnc-highlight-products__price strong {
  color: var(--text-primary);
}
/* EOF Section Offers */